#text {
    width: 300px;
    background-color:yellow;
    height: 200px;
    overflow: auto;
    margin: 10px;
    border: 4px dashed orange;
    padding: 10px;
  }


.important {
    font-weight: bold;
    text-decoration: underline;
  }


.picture {
    width: 300px;
    height: 200px;
    border-style: inset;
    margin: 10px;
    
}

.content {
    background-color: cornsilk;
    width: 400px;
    margin: auto;
    border: 3px solid maroon;
}

h1 {
padding: 10px;

}

/* Add appropriate margin, border, and padding to the text div.   
Add appropriate border to the image.
Create a div for all of the page content and center that in the middle of the page.
Add appropriate border and padding to that div.*/